<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <h1> Welcome <%=user[0].name %></h1>
    <p>Your age is : <%=user[0].age %></p>
    <p>Your Location : <%=user[0].city %> </p>
   <h1> Welcome <%=user[1].name %></h1>
    <p>Your age is : <%=user[1].age %></p>
    <p>Your Location : <%=user[1].city %> </p>
</body> 
</html>